
<div class="headerpanel">

    <div class="logopanel">
        <h2><a href="{{ path('em_backend_homepage') }}">Tour Contrôle</a></h2>
    </div><!-- logopanel -->

    <div class="headerbar">


        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        {{ render(controller('EmBackendBundle:Backend:searchForm')) }}


        <div class="header-right">
            <ul class="headermenu">
                <li>
                    <div id="noticePanel" class="btn-group">
                        <button class="btn btn-notice alert-notice" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                        </button>
                        <div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
                            <div role="tabpanel">
                                <!-- Nav tabs -->

                                <!-- Tab panes -->

                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-logged" data-toggle="dropdown">
                            <img src="{{ asset('bundles/embackend/assets/') }}images/photos/loggeduser.png" alt="" />
                            Administrateur
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{{ path('em_backend_change_password') }}"><i class="glyphicon glyphicon-user"></i> Modifier Password</a></li>
                            <li><a href="{{ path('em_backend_parametre', {'iduser' : user.id}) }}"><i class="glyphicon glyphicon-cog"></i> Paramètres</a></li>
                            <!-- <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>-->
                            <li><a href="{{ path('em_backend_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Deconnexion</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="chatview" class="btn btn-chat alert-notice">
                        <span class="badge-alert"></span>
                        <i class="fa fa-comments-o"></i>
                    </button>
                </li>
            </ul>
        </div><!-- header-right -->
    </div><!-- headerbar -->
</div>