
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Agence HomeMobilite - Vendre - Louer - Acheter - Séjourner {% endblock title %}</title>
    <meta property="og:description" content="HOMEMOBILITE est une plateforme technologique mettant en relation les propriétaires et les locataires ou acheteurs. Elle est spécialisée dans la gestion locative, marketing et la promotion des biens immobiliers, la mise en place d’infrastructures et la logistique pour l’hôtellerie de proximité" />
    <link rel="icon" href="{{ asset('bundles/emfrontend/assets/') }}images/cropped-ms-icon-310x310-32x32.png" sizes="32x32" />
    <link rel="icon" href="{{ asset('bundles/emfrontend/assets/') }}images/cropped-ms-icon-310x310-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/emfrontend/assets/') }}images/cropped-ms-icon-310x310-180x180.png">
    <!-- Google font-->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,600,500' rel='stylesheet' type='text/css'>
    <!-- Include the flexslider stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/flexslider/flexslider.css" rel="stylesheet">
    <!-- Include the lightslider stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/lightslider/css/lightslider.min.css" rel="stylesheet">
    <!-- Include the owl-carousel stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/owl.carousel/owl.carousel.css" rel="stylesheet">
    <!-- Include the swipebox stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/swipebox/css/swipebox.min.css" rel="stylesheet">
    <!-- Include the select2 stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/select2/select2.css" rel="stylesheet">
    <!-- Include the font-awesome stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}css/font-awesome.min.css" rel="stylesheet">
    <!-- Include the select2 stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}css/animate.css" rel="stylesheet">
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/') }}css/main.css"/>
    <!-- Default Theme stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/') }}css/theme.css"/>

    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/js/datepick/css/') }}pikaday.css">
</head>