
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block Title %} HomeMobilite - Vente - Location - Loue {% endblock %}</title>
    <link rel="icon" href="images/cropped-ms-icon-310x310-32x32.png" sizes="32x32" />
    <link rel="icon" href="images/cropped-ms-icon-310x310-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="images/cropped-ms-icon-310x310-180x180.png">
    <!-- Google font-->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,600,500' rel='stylesheet' type='text/css'>
    <!-- Include the flexslider stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/flexslider/flexslider.css" rel="stylesheet">
    <!-- Include the lightslider stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/lightslider/css/lightslider.min.css" rel="stylesheet">
    <!-- Include the owl-carousel stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/owl.carousel/owl.carousel.css" rel="stylesheet">
    <!-- Include the swipebox stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/swipebox/css/swipebox.min.css" rel="stylesheet">
    <!-- Include the select2 stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/select2/select2.css" rel="stylesheet">
    <!-- Include the font-awesome stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}css/font-awesome.min.css" rel="stylesheet">
    <!-- Include the select2 stylesheet -->
    <link href="{{ asset('bundles/emfrontend/assets/') }}css/animate.css" rel="stylesheet">
    <link href="{{ asset('bundles/emfrontend/assets/') }}js/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/') }}css/main.css"/>
    <!-- Default Theme stylesheet -->
    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/') }}css/theme.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/emfrontend/assets/js/datepick/css/') }}pikaday.css">

</head>
<body>


{% block headerMenuFrontend %}

{% endblock headerMenuFrontend %}

<!-- .site-header -->
<div class="page-head " style="background: url({{ asset('bundles/emfrontend/assets/') }}images/hotel-banner.jpg) #494c53 no-repeat center top;  background-size: cover;">
    <div class="container">
        <div class="page-head-content">
            <h1 class="page-title"><span>{% block titremenu %} Detail Ressource de Homemobilite  {% endblock titremenu %}</span></h1>
        </div>
    </div>
</div>
<!-- .page-head -->
<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">
            <div class="row">
                {% block menuPageRight %}
                    {{ render(controller('EmFrontendBundle:Frontend:menuPageRight')) }}
                {% endblock menuPageRight %}
                {% block Contenu %}

                {% endblock Contenu %}
                <!-- .site-main-content -->


                <!-- .site-sidebar-content -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>
<!-- .site-content-wrapper -->
{% block footer %}
    {{ render(controller('EmFrontendBundle:Frontend:footerPage')) }}
{% endblock footer %}

<!-- .footer -->
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery-1.12.3.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/flexslider/jquery.flexslider-min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/lightslider/js/lightslider.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/select2/select2.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/owl.carousel/owl.carousel.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/swipebox/js/jquery.swipebox.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery.hoverIntent.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery.validate.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery.form.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/transition.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery.appear.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/modal.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/meanmenu/jquery.meanmenu.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/jquery.placeholder.min.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/') }}js/custom.js"></script>
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="login-section modal-section">
            <div class="form-wrapper">
                <div class="form-heading clearfix">
                    <span><i class="fa fa-sign-in"></i>Login</span>
                    <button type="button" class="close close-modal-dialog " data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                </div>
                <form id="login-form" action="#" method="post" enctype="multipart/form-data">
                    <div class="form-element">
                        <label class="login-form-label" for="login-username">Username</label>
                        <input id="login-username" name="username" type="text" class="login-form-input login-form-input-common required" autofocus="" title="* Please enter a valid username." placeholder="Username">
                    </div>
                    <div class="form-element">
                        <label class="login-form-label" for="password">Password</label>
                        <input id="password" name="password" type="password" class="login-form-input login-form-input-common required" placeholder="Password">
                    </div>
                    <div class="form-element">
                        <input type="submit" class="login-form-submit login-form-input-common" value="Login">
                    </div>
                </form>
                <div class="clearfix">
                    <span class="sign-up pull-left">Not a Member?<a href="#" class="activate-section" data-section="register-section">Sign up now</a></span>
                    <span class="forgot-password pull-right"><a href="#" class="activate-section" data-section="password-section">Forgot Password?</a></span>
                </div>
            </div>
            <div class="buttons-external">
                <div class="graphic">
                    <span class="or">or</span>
                    <span class="vertical-line"></span>
                    <span class="circle"></span>
                </div>
                <div class="clearfix">
                    <a class="button facebook-button" href="#"><i class="fa fa-facebook"></i>Login with Facebook</a>
                    <a class="button google-button" href="#"><i class="fa fa-google"></i>Login with Google</a>
                </div>
            </div>
        </div>
        <!-- .login-section -->
        <div class="password-section modal-section">
            <div class="form-wrapper">
                <div class="form-heading clearfix">
                    <span>Reset Password</span>
                    <button type="button" class="close close-modal-dialog" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                </div>
                <form id="forgot-form" action="#" method="post">
                    <div class="form-element">
                        <label class="login-form-label" for="password-reset">User Name or Email<span>*</span></label>
                        <input id="password-reset" name="password-reset" type="text" class="login-form-input login-form-input-common email required" title="* Please provide user name or email!" placeholder="Email">
                    </div>
                    <div class="form-element">
                        <input type="submit" name="user-submit" class="login-form-submit login-form-input-common" value="Reset Password">
                    </div>
                </form>
                <div class="clearfix">
                    <span class="sign-up pull-left">Not a Member?<a href="#" class="activate-section" data-section="register-section">Sign up now</a></span>
                    <span class="login-link pull-right"><a href="#" class="activate-section" data-section="login-section">Login</a></span>
                </div>
            </div>
        </div>
        <!-- .password-reset-section -->
        <div class="register-section modal-section">
            <div class="form-wrapper">
                <div class="form-heading clearfix">
                    <span>Register</span>
                    <button type="button" class="close close-modal-dialog" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg"></i></button>
                </div>
                <form id="register-form" action="#" method="post">
                    <div class="form-element">
                        <label class="login-form-label" for="register-username">Username<span>*</span></label>
                        <input id="register-username" name="username" type="text" class="login-form-input login-form-input-common required" title="* Please enter a valid username." placeholder="Username">
                    </div>
                    <div class="form-element">
                        <label class="login-form-label" for="user_email">Email<span>*</span></label>
                        <input id="user_email" name="user_email" type="text" class="login-form-input login-form-input-common email required" title="* Please provide valid email address!" placeholder="Email">
                    </div>
                    <div class="form-element">
                        <input type="submit" name="user-submit" class="login-form-submit login-form-input-common" value="Register">
                    </div>
                </form>
                <div class="clearfix">
                    <span class="login-link pull-left"><a href="#" class="activate-section" data-section="login-section">Login</a></span>
                    <span class="forgot-password pull-right"><a href="#" class="activate-section" data-section="password-section">Forgot Password?</a></span>
                </div>
            </div>
        </div>
        <!-- .register-section -->
    </div>
    <!-- .modal-dialog -->
</div>
<!-- .modal -->
<script>
    (function ($) {
        "use strict";

        if (jQuery().validate) {

            //Login
            $('#login-form').validate();

            //Register
            $('#register-form').validate();

            //Forgot Password
            $('#forgot-form').validate();
        }

        /*-----------------------------------------------------------------------------------*/
        /* Modal dialog for Login and Register
         /*-----------------------------------------------------------------------------------*/
        var loginModal = $('#login-modal'),
                modalSections = loginModal.find('.modal-section');

        $('.activate-section').on('click', function (event) {
            var targetSection = $(this).data('section');
            modalSections.slideUp();
            loginModal.find('.' + targetSection).slideDown();
            event.preventDefault();
        });

    })(jQuery);
</script>

<script type="text/javascript" src="jquery.js"></script>
<script>
    $(document).ready(function(){

        $('.grades').on('change',function(){ //on checkboxes check

//sending checkbox value into serialize form

            var hi=$('.grades:checked').serialize();
            if(hi){
                  alert('toc');
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "{{ path('em_frontend_recherchehome') }}",
                    data:{brandss:hi},
                    success: function(response){
                        document.getElementById('getdata').style.display = "block";
                        document.getElementById("getdata").innerHTML = response;
                        $('#result').hide();
                    }
                });
            }
            else
            {
                document.getElementById('getdata').style.display = "none";
                $('#result').show();
            }
        });
    });
</script>

<script src="{{ asset('bundles/emfrontend/assets/js/datepick/js/') }}moment.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/js/datepick/js/') }}pikaday.js"></script>
<script src="{{ asset('bundles/emfrontend/assets/js/datepick/js/') }}verif.js"></script>


<script>
    var picker = new Pikaday({
        field: document.getElementById('end'),
        format: 'D MMM YYYY',
        onSelect: function() {
            console.log(this.getMoment().format('Do MMMM YYYY'));
        }
    });

    var picker2 = new Pikaday({
        field: document.getElementById('start'),
        format: 'D MMM YYYY',
        onSelect: function() {
            console.log(this.getMoment().format('Do MMMM YYYY'));
        }
    });
</script>


</body>
</html>