<div class="col-xs-4 col-md-3">
    <div class="booking-item-img-wrap">

        <img src="{{ asset('bundles/emfrontend/assets/pics/') }}{{ imagedata.url }}/{{ imagedata.title }}" alt="{{ imagedata.title }}" title=" " />
        <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>{{ allimagesentity|length }}</div>

    </div>
</div>