{% for data in dataentity|slice(0,1) %}
<div class="bg-holder">

    <div class="bg-mask"></div>
    <div class="bg-img" style="background-image:url({{ asset('bundles/emfrontend/assets/uploads/images/pub/') }}{{ data.Images.title }});"></div>
    <div class="bg-content">
        <div class="container">
            <div class="ribbon"><span>Promo {{ data.pourcentage }} %</span></div>
            <div class="gap gap-big text-center text-white">
                <h2 class="text-uc mb20">{{ data.titre }}</h2>
                <ul class="icon-list list-inline-block mb0 last-minute-rating">
                    {%  set num = 1 %}
                    {% for  num in  1..data.agences.grade %}
                        <i class="fa fa-star"></i>
                        {%  set num = num +1 %}
                    {% endfor %}
                </ul>
                <h5 class="last-minute-title">{{ data.agences.nom|capitalize }} - {{ data.agences.villes.nom|capitalize }} </h5>
                <p class="last-minute-date">Du {{ data.datestart|date('d - m - Y')  }} Au {{ data.dateend|date('d - m - Y')  }} </p>
                <p class="mb20">A partir de <b>Fcfa {{ data.prixstart }} </b> </p><a class="btn btn-lg btn-white btn-ghost" href="{{ path('em_frontend_hotelecaracteristique', { 'ville': data.agences.villes.slug ,'idagence': data.agences.id|urlencrypt } ) }}">Reservez<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endfor %}