
<form  class="login100-form" method="post"action="{{ path("em_client_auth_registration_register") }}">

					<span class="login100-form-title p-b-59">
						ESPACE CLIENT
					</span>

					<span class="login100-form-subtitle p-b-59">
						Inscrivez-vous pour votre nouveau compte
					</span>

    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <span class="label-input100">Identifiant</span>
        <input class="input100" type="text" name="" placeholder="Email addess...">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'input100'}}) }}


        <span class="focus-input100"></span>
        {{ form_widget(form._token, {'attr': {'type' : 'hidden'}}) }}

    </div>

    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <span class="label-input100">Email</span>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'input100'}}) }}
        <span class="focus-input100"></span>
    </div>



    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <span class="label-input100">Mot de passe</span>
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input100', 'placeholder': '******************'}}) }}
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <span class="label-input100">Confirmer mot de passe</span>
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input100', 'placeholder': '*************'}}) }}

        <span class="focus-input100"></span>
    </div>



    <div class="flex-m w-full p-b-33">
        <!-- <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
                <span class="txt1">
                    Se souvenir de moi
                </span>
            </label>
        </div> -->


    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
                S'Inscrire
            </button>
        </div>

        <a href="{{ path('em_backend_security') }}"  class="txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            J'ai deja un compte
            <i class="fa fa-long-arrow-left m-l-5"></i>
        </a>
    </div>
</form>
