

<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">


            <div class="row">
                <div class="col-md-3 site-sidebar-content">
                    <aside class="sidebar">
                        <section class="widget widget-advance-search advance-search">
                            <h3 class="advance-search-widget-title"><i class="fa fa-user"></i> Connecté: <strong>{{ user.username }}</strong></h3>
                            <!-- .advance-search-form -->
                        </section>
                        <section class="widget clearfix widget_categories">
                            <h3 class="widget-title">Mon compte</h3>
                            <ul>
                                <li><a href="{{ path('em_client_homepage') }}"><i class="fa fa-clock-o"></i> Mes reservations</a></li>
                            </ul>
                            <ul>
                                <li><a href="{{ path('em_client_parametre') }}"><i class="fa fa-cog"></i> Parametre</a></li>
                            </ul>
                            <ul>
                                <li><a href="{{ path('em_client_motdepasse') }}"><i class="fa fa-user"></i> Modifiez Votre mote de passe</a></li>
                            </ul>
                            <ul>
                                <li><a href="{{ path('em_client_auth_security_logout') }}"><i class="fa fa-sign-out"></i> Deconnexion</a></li>
                            </ul>
                        </section>
                    </aside>
                    <!-- .sidebar -->
                </div>

                <div class="col-xs-9 site-main-content">
                    <main id="main" class="site-main">
                        <div class="white-box user-profile-wrapper">
                            <h4>Changer mot de passe</h4>

                            <form action="{{ path('em_client_change_password')}}"  class="form-horizontal" METHOD="post">
                                <!-- .row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label>Mot de passe actuel </label>
                                            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label>Nouveau mot de passe</label>
                                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-option">
                                            <label>Verifier Nouveau mot de passe :</label>
                                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_widget(form._token, {'attr': {'type' : 'hidden'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- .row -->

                                <!-- .row -->
                                <div class="form-option">
                                    <input type="submit" id="update-user" name="update-user" class="btn-small btn-orange" value="Valider la mise à jour">
                                </div>
                                <p id="form-message"></p>
                                <ul id="form-errors"></ul>
                            </form>
                            <!-- #inspiry-edit-user -->
                        </div>
                        <!-- .user-profile-wrapper -->
                    </main>
                    <!-- .site-main -->
                </div>
                <!-- .site-main-content -->
            </div>


            <!-- .container-property-single -->
        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>

<!-- .page-head -->
