<div class="row">
    <div class="col-sm-10 col-md-11 col-lg-12">
        <div class="timeline-wrapper">
            <div class="timeline-date">News articles</div>
           {% for datanews in pagination %}
            <div class="panel panel-post-item status">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img alt="" src="{{ asset('bundles/emfrontend/assets/') }}uploads/images/news/{{ datanews.Images.title }}" class="media-object img-thumbnail">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ datanews.titre }}</h4>
                            <p class="media-usermeta">
                                <span class="media-time"> <small> {{ datanews.dateajout|date('d-m-Y') }} </small> </span>
                            </p>
                        </div>
                    </div><!-- media -->
                    <ul class="panel-options">
                        <li><a class="tooltips" href="" data-toggle="tooltip" title="" data-original-title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                    </ul>
                </div><!-- panel-heading -->
                <div class="panel-body">
                        {{ datanews.resume|raw }}
                </div>
                <div class="panel-footer">
                    <ul class="list-inline">
                        <li><a href=""><i class="glyphicon glyphicon-heart"></i> Mention J'aime</a></li>
                        <li><a data-target="#comment-1" data-toggle="collapse"><i class="glyphicon glyphicon-comment"></i> Commentaire (0)</a></li>
                        <li class="pull-right"> <a href="{{ path("em_backend_addnews", { 'idpage' : datanews.id}) }}"> Modifier l'article </a></li>
                    </ul>
                </div>

            </div><!-- panel panel-post -->
           {% endfor %}
<!-- panel panel-post -->

            {{ knp_pagination_render(pagination) }}

        </div><!-- timeline-wrapper -->
    </div>

</div>