<div class="mainpanel" xmlns="http://www.w3.org/1999/html">

    <div class="contentpanel">

        <ol class="breadcrumb breadcrumb-quirk">
            <li><a href="#"><i class="fa fa-home mr5"></i> Accueil</a></li>
            <li><a href="#">Admin et Superviseurs Homemobilite</a></li>
            <li class="active">Validés</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('Notice')|slice(0,1) %}

                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>Error !</strong>  {{ flashMessage }} <a href="" class="alert-link"></a>.
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10 people-list">

                <div class="people-options clearfix">
                    <div class="pull-left">
                        <h4 class="text-info">Liste des Admins sur Homemobilite</h4>
                    </div>

                    <div class="btn-group pull-right people-pager">
                        <button type="button" class="btn btn-success"><i class="fa fa-user"></i></button>
                    </div>
                    <span class="people-count pull-right">Total Admin et Superviseurs <strong>{{ allusers['alladmin']|length }}</strong> </span>
                </div><!-- people-options -->

                <div class="row">

                    {% for data in  allusers['alladmin']|slice(0,12) %}
                        <div class="col-md-4 col-lg-2">
                            <div class="panel panel-profile grid-view">
                                <div class="panel-heading">
                                    <div class="text-center">

                                        <h4 class="panel-profile-name">{{ data.username }}</h4>
                                        <p class="media-usermeta"><i class="fa fa-user"></i> Admin</p>
                                    </div>
                                    <ul class="panel-options">
                                        <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                                    </ul>
                                </div><!-- panel-heading -->
                                <div class="panel-body people-info">

                                    <div class="info-group">
                                        <label>Date inscription</label>
                                        {{ data.dateinscrit|date('d-m-Y H:i:s')}}
                                    </div>
                                    <div class="info-group">
                                        <label>Email</label>
                                        {{ data.email }}
                                    </div>
                                    <div class="info-group">
                                        <label>Phone</label>
                                        {{ data.phone }}
                                    </div>

                                    <div class="row">

                                        <div class="col-xs-3">
                                            <div class="info-group">
                                                {% if data.enabled  %}
                                                    <a href="{{ path('em_backend_enabled', {'iduser': data.id, 'status' : 'suspendre'}) }}">  <button class="btn btn-danger">Suspendre</button></a>
                                                {% else %}
                                                    <a href="{{ path('em_backend_enabled', {'iduser': data.id, 'status' : 'valider'}) }}">  <button class="btn btn-success">Activer</button></a>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-6 -->

                    {% endfor %}
                </div><!-- row -->

            </div><!-- col-sm-8 -->
            <div class="col-sm-4 col-md-3 col-lg-2">


                {{ render(controller('EmBackendBundle:Hotelier:nouvelleChambre')) }}


            </div>

            <div class="col-sm-8 col-md-9 col-lg-10 people-list">

                <div class="people-options clearfix">
                    <div class="pull-left">
                        <h4 class="text-warning">Liste des Superviseurs Homemobilite</h4>
                    </div>

                    <div class="btn-group pull-right people-pager">
                        <button type="button" class="btn btn-warning"><i class="fa fa-user"></i></button>
                    </div>
                    <span class="people-count pull-right">Total  Superviseurs <strong>{{ allusers['allsuperviseur']|length }}</strong> </span>
                </div><!-- people-options -->

                <div class="row">

                    {% for data in  allusers['allsuperviseur']|slice(0,12) %}
                        <div class="col-md-4 col-lg-2">
                            <div class="panel panel-profile grid-view">
                                <div class="panel-heading">
                                    <div class="text-center">

                                        <h4 class="panel-profile-name">{{ data.username }}</h4>
                                        <p class="media-usermeta"><i class="fa fa-user"></i> Superviseur</p>
                                    </div>
                                    <ul class="panel-options">
                                        <li><a class="tooltips" href="" data-toggle="tooltip" title="View Options"><i class="glyphicon glyphicon-option-vertical"></i></a></li>
                                    </ul>
                                </div><!-- panel-heading -->
                                <div class="panel-body people-info">

                                    <div class="info-group">
                                        <label>Date inscription</label>
                                        {{ data.dateinscrit|date('d-m-Y H:i:s')}}
                                    </div>
                                    <div class="info-group">
                                        <label>Email</label>
                                        {{ data.email }}
                                    </div>
                                    <div class="info-group">
                                        <label>Phone</label>
                                        {{ data.phone }}
                                    </div>

                                    <div class="row">

                                        <div class="col-xs-3">
                                            <div class="info-group">
                                                {% if data.enabled  %}
                                                    <a href="{{ path('em_backend_enabled', {'iduser': data.id, 'status' : 'suspendre'}) }}">  <button class="btn btn-danger">Suspendre</button></a>
                                                {% else %}
                                                    <a href="{{ path('em_backend_enabled', {'iduser': data.id, 'status' : 'valider'}) }}">  <button class="btn btn-success">Activer</button></a>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-6 -->

                    {% endfor %}
                </div><!-- row -->

            </div><!-- col-sm-8 -->

            <div class="col-sm-4 col-md-3 col-lg-2">


                {{ render(controller('EmBackendBundle:Hotelier:lastHotelierValider')) }}


            </div>
        </div><!-- row -->

    </div><!-- contentpanel -->

</div><!-- mainpanel -->