<div class="panel">
    {% for flashMessage in app.session.flashbag.get('notice')|slice(0,1) %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Parfait !</strong>  {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-warning table-striped nomargin">
                <thead>
                <tr>
                    <th class="text-center">
                        <label class="ckbox ckbox-warning">
                            <input type="checkbox"><span></span>
                        </label>
                    </th>
                    <th class="text-center">Nom de la page</th>
                    <th class="text-center">Blocks</th>
                    <th class="text-center">Titre block </th>
                    <th class="text-center">date derniere mise à jour</th>
                    <th class="text-right">Options </th>
                </tr>
                </thead>
                <tbody>
                {% for data in pagesite %}
                <tr>

                    <td class="text-center">
                        <label class="ckbox ckbox-warning">
                            <input type="checkbox"><span></span>
                        </label>
                    </td>
                    <td>{{ data.title }}</td>
                    <td class="text-center">{{ data.block }}</td>
                    <td class="text-center">{{ data.titre }}</td>
                    <td class="text-center">{{ data.dateupdate|date('d:m:Y') }}</td>
                        <td class="text-right">
                            <ul class="table-options">
                                <li><a href="{{ path('em_backend_createpagesite', {'idpage' : data.id}) }}" title="modifier"><i class="fa fa-pencil"></i></a></li>
                            </ul>
                        </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- table-responsive -->
    </div>
</div>

