<header class="fixed-header">
    <div class="header-top">
        <div class="container">
            <div class="pull-left">
                <a href="{{ path('em_frontendv2_homepage') }}" class="logo">
                    <img src="{{ asset('bundles/emfrontend/assetsv2/') }}images/logo-header.png" width="155" height="58" alt="">
                </a>

            </div>
            <!-- /.pull-left -->
            <div class="pull-right">
                <!-- /.ico-item hidden-on-desktop -->
                <div class="ico-item flag-icon flag-icon-fr"></div>
                <div class="ico-item flag-icon flag-icon-gb"></div>
                <!-- /.ico-item -->
                <!-- /.ico-item -->

                <div class="ico-item">
                    <a href="{{ path('em_backend_serviceLogin') }}" class="ico-item">Soumettre son établissement</a>
                </div>
                <div class="ico-item">
                    <a href="{{ path('em_client_auth_serviceLogin') }}" class="ico-item">Mes reservations</a>
                </div>
                <div class="ico-item">
                    <a href="{{ path('em_client_auth_registration_register') }}" class="ico-item">S'inscrire</a>
                </div>
                <div class="ico-item">
                    <a href="{{ path('em_client_auth_serviceLogin') }}" class="ico-item">Se connecter</a>
                </div>
                <!-- /.ico-item -->

                <!-- /.ico-item fa fa-fa-arrows-alt -->



                <!-- /.ico-item -->

                <!-- /.ico-item -->
            </div>
            <!-- /.pull-right -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->

    <!-- /.nav-horizontal -->
</header>
